.main-content__cards {
/*   border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  gap: 15px;
  max-width: 500px;
}

ul {
  list-style: none;
  padding: 0px;
}

.card {
  border-style: solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.show-answer-button{
  background-color: var(--light-background-color); 
  border-radius: 5px;
}
.show-answer-button:active{
  background-color: rgb(207, 206, 206);
} 
.bookmark {
  background-image: url(./assets/bookmark-dark.svg);
  background-color: var(--light-background-color); 
  background-size: cover;
  background-position: center;
  border: none;
  width: 25px;
  height: 25px;
  display: inline-block;
  outline: none;
/*   margin: 2px;   only when used with a curser needed */
  align-self: end;
}

/* .bookmark:hover {
  transform: scale(1.05);
} only when used with a curser needed */

.bookmarked {
  background-image: url(./assets/bookmark-check-dark.svg);
}

@media (prefers-color-scheme: dark) {
  .bookmark {
    background-image: url(./assets/bookmark-white.svg);
    background-color: var(--dark-color-background);
  }
  .bookmarked {
    background-image: url(./assets/bookmark-check-white.svg);
    background-color: var(--dark-color-background);
  }
  .show-answer-button{
  background-color: rgb(142, 139, 139); 
  }
} 

.hidden {
  display: none;
}

/* .bookmarked:hover {
  transform: scale(1.05);
} only when used with a curser needed */

.tags {
  display: flex;
  align-items: flex-start;
  gap: 15px;
/*   border: 2px solid darkred; */

}

.tag {
  border: 2px solid rgb(28, 90, 88);
  background-color: rgb(96, 197, 195);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px; 
  margin: 10px;
}
